body {
	overflow: hidden;
	background-color: rgb(70, 70, 70);
}

.debug {
	border: red dashed 3px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#boxholder {
	overflow: hidden;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	min-width: 100px;
	max-width: 510px;
	border: lightgray 5px solid;
	border-radius: 50px;
	background-color: #383838;
	transition: min-width 0.5s ease-out, min-height 0.3s ease-out;
}

.numberbox {
	font-family: Consolas, serif;
	text-align: center;
	line-height: 85px;
	font-size: 80px;
	margin: 5px;
	width: 85px;
	height: 85px;
	background-color: lightgray;
	border: gray 3px inset;
	border-radius: 50rem;
	animation: numberPopIn 1s;
}

@keyframes numberPopIn {
	0% {
		transform: scale(0, 0);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}