body {
	overflow: hidden;
	background-color: rgb(70, 70, 70);
}

@font-face {
	font-family: lcdFont;
	src: url("../res/digital-7.ttf");
}

.radioBase {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 650px;
	height: 350px;
	background-color: rgb(78, 78, 78);
	box-shadow: inset -5px -5px 1px 1px rgb(43, 43, 43), inset 1px 1px 1px 1px rgb(59, 59, 59);
}

.radioAntenna {
	position: absolute;
	top: -25%;
	left: 15%;
	width: 10px;
	height: 25%;
	background-color: rgb(65, 65, 65);
	box-shadow: inset -2px 0px 1px 1px rgb(43, 43, 43), inset 1px 1px 1px 1px rgb(56, 56, 56);
}

.radioKnob {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
	box-shadow: inset -5px -5px 3px 1px rgb(70, 70, 70), 3px 3px 3px 1px rgb(56, 56, 56);
}

.radioKnobIndicator {
	position: relative;
	left: calc(50% - 5px);
	width: 10px;
	height: 75px;
	background-color: rgb(32, 32, 32);
	transform-origin: center bottom;
}

.radioChannelBox {
	position: absolute;
	text-align: center;
	overflow: hidden;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 30%;
	background-color: rgb(32, 32, 32);
	box-shadow: inset -5px -5px 1px 1px rgb(26, 26, 26), inset 2px 2px 1px 1px rgb(24, 24, 24);
}

.radioButton {
	margin: 1%;
	width: 15%;
	height: 100%;
	color: lightgray;
	border-color: gray;
	background-color: rgb(32, 32, 32);
	border-radius: 1rem;
}

#stationList {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 35%;
	height: 40%;
	color: lightgray;
	text-align: center;
	background-color: rgb(32, 32, 32);
	transform: translateX(-50%);
}

.hidden {
	color: transparent !important;
}

#trackTime {
	position: absolute;
	top: -45%;
	width: 100%;
	height: 75%;
	color: lightgray;
	font-family: lcdFont;
	font-size: 3em;
}

#currentStation {
	position: absolute;
	top: -45%;
	width: 100%;
	height: 50%;
	color: lightgray;
	font-family: lcdFont;
	font-size: 3em;
	animation: textSlide 15s linear infinite;
}

@keyframes textSlide {
	0% {
		left: 90%;
	}
	100% {
		left: -90%;
	}
}

#waveEmitter {
    position: absolute;
	border-radius: 50%;
	background-color: rgb(160, 0, 0);
}

#radiowave {
	width: 5px;
	height: 5px;
    position: absolute;
	border-radius: 50%;
	background-color: yellow;
	animation: wavefade 2s ease-in-out forwards;
}

@keyframes wavefade {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0.75;
	}
	100% {
		opacity: 0;
	}
}